@font-face {
    font-family: 'BiggyCut';
    src: url('fonts/Biggy-Cut.otf') format('opentype'),
    url('fonts/Biggy-Cut.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #2e3d30;
    color: whitesmoke;
    width: 300px;
    height: 200px;
    padding: 30px;
    gap: 20px;
    font-family: sans-serif;
}

.button {
    color: whitesmoke;
    background-color: #2e3d30;
    border-radius: 0px;
    border: none;
    font-family: sans-serif;
    font-size: 15px;
    width: 200px;
    height: 50px;
}

.cupcakeria-cart-button {
    padding-top: 50px;
}

.login-create-buttons {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    background-color: #2e3d30;
    border: none;
    gap: 20px;
    font-family: sans-serif;
    font-size: 14px;
    padding-top: 5px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    flex-direction: row;
    background-color: #243025;
    color: whitesmoke;
    font-family: sans-serif;
}

.header-menu-buttons {
    color: whitesmoke;
    background-color: #243025;
    font-family: sans-serif;
    font-size: 14px;
    border: none;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding-right: 20px;
}

.box-to-background-padding {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url("concreteBackground.jpeg");
}

.front-page-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-image: url("frontpageBackground.jpeg");
    background-size: cover;
    background-position: center;
}

.cart-container {
    display: flex;
    padding-left: 60px;
    padding-top: 60px;
}

.order-container{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-top: 60px;
}

.add-to-cart-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.order-acceptance-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
    padding-bottom: 350px;
    gap: 80px;
    background-image: url("concreteBackground.jpeg");
    background-size: cover;
    font-family: sans-serif;
}

.cupcakeria-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("cupcakeriaBackground.jpeg");
    background-size: cover;
    background-position: center;
    color: rgba(21, 41, 28, 0.66);
    font-family: sans-serif;
}

.merge-bottom-text {
    margin-top: 150px;
}


/* GLIDER SETTINGS */
.cupcake-stack {
    position: relative;
    width: 300px;
    height: 340px;
    margin: 0 auto;
    overflow: visible;
}

/* GLIDER BILLEDER */

.glider img:hover {
    transform: scale(1.05);
}

.glider img.selected {
    border: none;
}

/* GLIDER-NAVIGATION */
.glider-prev,
.glider-next {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 2;
}

.glider-prev {
    left: -30px;
}

.glider-next {
    right: -30px;
}


/*FIX TIL CUPCAKERIA GLIDER-LAYOUT*/

.topping-slider {
    position: relative;
    margin-bottom: -160px !important;
    z-index: 2;
}
.bottom-slider {
    position: relative;
    margin-top: -100px !important;
    z-index: 1;
}

.glider-contain {
    width: 90% !important;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 0;
    position: relative;
    text-align: center;
}

.glider-prev,
.glider-next {
    z-index: 10;
}

.glider img {
    width: 100% !important;
    max-width: 400px;
    height: auto !important;
    object-fit: contain;
}