<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<header>
    <div class="header-container">
        <h1 style="font-family: 'BiggyCut'; font-size: 50px">OLSKER</h1>
        <div class="menu-container">
            <form action="/login" method="get">
                <button class="header-menu-buttons" type="submit">Login</button>
            </form>
            <form action="/frontpage" method="get">
                <button class="header-menu-buttons" type="submit">Home</button>
            </form>
            <form action="/cupcakeria" method="get">
                <button class="header-menu-buttons" type="submit">Cupcakeria</button>
            </form>
            <form action="/cart" method="get">
                <button class="header-menu-buttons" type="submit">Cart</button>
            </form>
        </div>
    </div>
</header>
<body>
<div class="cart-container">
<h1>Your order:</h1>
</div>

<div class="order-container">
<div th:if="${basket == null or #lists.isEmpty(basket.orderlines)}">
    <p>Your cart is empty.</p>
</div>

<div th:each="line : ${basket.orderlines}">
    <p>
        Topping: <span th:text="${line.topping.name}"></span><br>
        Bottom: <span th:text="${line.bottom.name}"></span>
    </p>
</div>
</div>

<div class="cart-container">
<form action="/orderAcceptance" method="get">
    <button class="button" type="submit">Place order</button>
</form>
</div>

</body>

</html>