<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Olsker Cupcakeria</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{/glider.css}">
</head>
<body>
<header>
    <div class="header-container">
        <h1 style="font-family: 'BiggyCut'; font-size: 50px">OLSKER</h1>
        <div class="menu-container">
            <form action="/login" method="get">
                <button class="header-menu-buttons" type="submit">Login</button>
            </form>
            <form action="/frontpage" method="get">
                <button class="header-menu-buttons" type="submit">Home</button>
            </form>
            <form action="/cupcakeria" method="get">
                <button class="header-menu-buttons" type="submit">Cupcakeria</button>
            </form>
            <form action="/cart" method="get">
                <button class="header-menu-buttons" type="submit">Cart</button>
            </form>
        </div>
    </div>
</header>

<div class="cupcakeria-container">
    <h1>Assemble your cupcake</h1>

    <form action="/add-to-cart" method="post" id="cupcakeForm">

        <!-- TOPPING -->
        <div class="glider-contain">
            <h2>Topping</h2>
            <button class="glider-prev topping-prev">«</button>
            <div type="button" class="glider topping-slider">
                <img th:each="topping : ${toppings}"
                     th:src="@{'/images/' + ${#strings.replace(#strings.toLowerCase(topping.name), ' ', '-')} + '.png'}"
                     th:data-id="${topping.id}"
                     th:alt="${topping.name}"
                     class="topping-image">
            </div>
            <button type="button" class="glider-next topping-next">»</button>
        </div>

        <!-- BOTTOM -->
        <div class="glider-contain">
            <button type="button" class="glider-prev bottom-prev">«</button>
            <div class="glider bottom-slider">
                <img th:each="bottom : ${bottoms}"
                     th:src="@{'/images/' + ${#strings.replace(#strings.toLowerCase(bottom.name), ' ', '-')} + '-bottom.png'}"
                     th:data-id="${bottom.id}"
                     th:alt="${bottom.name}"
                     class="bottom-image">
            </div>
            <button type="button" class="glider-next bottom-next">»</button>
            <h2>Bottom</h2>

            <!-- Skjulte felter til form-submit -->
            <input type="hidden" name="toppingId" id="selectedToppingId">
            <input type="hidden" name="bottomId" id="selectedBottomId">

            <button class="button" type="submit">Add to cart</button>
        </div>


    </form>
</div>

<script th:src="@{/glider.js}" defer></script>
<script th:src="@{/cupcake-gallery.js}" defer></script>
</body>
</html>