<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<header>
    <div class="header-container">
    <h1>Olsker</h1>
    <div class="menu-container">
        <p>Login</p>
        <p>Home</p>
        <p>Cupcakeria</p>
        <p>Cart</p>
    </div>
    </div>
</header>
<body>
<div class="box-to-background-padding">
    <div class="login-container">
            <h2> Login </h2>
            <input type="text" placeholder="Email" name="email">
            <input type="text" placeholder="Password" name="psw">
        <div class="login-create-buttons">
            <button type="submit">Login</button>
            <button type="submit">Create user</button>
        </div>
    </div>
</div>

</body>
</html>