<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<header>
    <div class="header-container">
        <h1>Olsker</h1>
        <div class="menu-container">
            <p>Login</p>
            <p>Home</p>
            <p>Cupcakeria</p>
            <p>Cart</p>
        </div>
    </div>
</header>
<body>
<div class="order-acceptance-container">
<h1>Your order have been confirmed</h1>
<button class="button" type="button">Go to front page</button>
</div>

</body>
</html>